<br><br><br><br><br><br>
<% if @songs.to_a.length == 0 %>
  <h1>No songs uploaded yet.</h1>
<% else %>
<button onclick="prevSong()"><</button><audio id="player" src="<%= @songs[0].song %>" controls></audio><button onclick="nextSong()">></button>
<br>
<% count = 0 %>
<h1>Uploaded Songs:</h1>
<input type="checkbox" id="delete">Delete<br>
<% @songs.each do |p| %>
  <div onclick="clickSong(<%= count %>)">
  <% count += 1 %>
  <a class="song"><%= p.artist %> - <%= p.title %></a><br>
  </div>
<% end %>
<% end %>