/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p, a{
	font-family: 'Myriad Pro';
}

h1{
	font-family: 'Myriad Pro';
	color: #333333;
}

#user_nav, #features_nav{
	z-index: 1000;
	margin-top: 100px;
}

.button{
	border: 0;
	background-color: #EF4836 ;
}

#topBar{
	background-color: #EF4836;
	height: 90px;
	width: 100%;
	position: fixed;
	z-index: 800;
	top: 0px;
	left: 0px;
}

	#topBar p{
		color: #F0F0F0;
	}

	#topBar .iListen .iListenSubText{
	}

	#topBar .iListen{
		left: 20px;
    	top: -20px;
    	position: relative;
		color: #F0F0F0;
		font-family: 'Myriad Pro';
		font-style: bold;
		font-size: 30pt;	
	}

	#topBar .iListenSubtext{
		left: 20px;
    	top: -70px;
    	position: relative;
		color: #F0F0F0;
		font-family: 'Myriad Pro';
		font-style: bold;
		font-size: 12pt;	
	}

#topBarBlack{
	background-color: #2e2e2e;
	height: 95px;
	width: 100%;
	position: fixed;
	z-index: 700;
	top: 0px;
	left: 0px;
}