/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p, a{
	font-family: 'Myriad Pro';
}

h1{
	font-family: 'Myriad Pro';
	color: #333333;
}

.inputBox{
	border-width: 1px;
	border-color: gray;
	border-radius: 4px;
	height: 150%;
	padding: 10px;
}

#user_nav, #features_nav{
	font-family: 'Myriad Pro';
	color: white;
	font-size: 12pt;
}

	#loginID{
		position: relative;
		top: -68px;
		left: 1150px;
	}

	#options{
		position: relative;
		top: -90px;
		left: 30px;
	}

	.menu {
		font-size: 18px;
		padding-right: 50px;
		color: #D7D7D7;
		text-decoration: none;
	}

		.menu:link{
			text-decoration: none;
		}

		.menu:visited{
			text-decoration: none;
		}

		.menu:hover{
			text-decoration: none;
			color: white;
		}

#topBar{
	background-color: #EF4836;
	height: 85px;
	width: 100%;
	position: fixed;
	z-index: 800;
	top: 0px;
	left: 0px;
}

	#topBar p{
		color: #F0F0F0;
	}

	#topBar .iListen .iListenSubText{
	}

	#topBar .iListen{
		left: 30px;
    	top: -20px;
    	position: relative;
		color: #F0F0F0;
		font-family: 'Myriad Pro';
		font-style: bold;
		font-size: 30pt;	
	}

	#topBar .iListenSubtext{
		left: 30px;
    	top: -70px;
    	position: relative;
		color: #F0F0F0;
		font-family: 'Myriad Pro';
		font-style: bold;
		font-size: 12pt;	
	}

#topBarBlack{
	background-color: #2e2e2e;
	height: 120px;
	width: 100%;
	position: fixed;
	z-index: 700;
	top: 0px;
	left: 0px;
}